.progressBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background-color: blue;
  border-radius: 2px;
}

.nav {
  padding: 1em 0;
  background-color: #eeeeee;
  writing-mode: vertical-lr;
  text-transform: uppercase;
}

.blogPostWrapper {
  padding: 0 1em;
  overflow-y: auto;
}