.nav {
  padding: 1em 0;
  background-color: #eeeeee;
  writing-mode: vertical-lr;
  text-transform: uppercase;
}

.blogPostWrapper {
  display: flex;
  flex: 1;
}

.blogPostContent {
  padding: 0 1em;
  flex: 3;
  overflow-y: auto;
  scroll-padding-top: 11em;
}
