.blogPostWrapper {
  display: flex;
  flex: 1;
  text-wrap: pretty;
}

.blogPostContentWrapper {
  flex: 75%;
}

.blogPostContent {
  width: 60em;
  height: 100%;
  padding: 0 10em;
  margin: 0 auto;
  overflow-y: auto;
  scroll-padding-top: 11em;
}

