.blogPostSketch {
  flex: 1 0 25%;
  margin: 2em 1em;
}

.sketchWrapper {
  margin-left: 1em;

  @supports (scroll-target-group: auto) {
    scroll-target-group: auto;
  }

  a {
    opacity: 0.75;

    &:target-current {
      opacity: 1;
    }
  }
}

.header {
  font-size: 1.2em;
  margin: 0.4em 0;
}

.lowLevelHeader {
  margin: 0.4em 1em;
  font-size: 1em;
}