.blogPostSketch {
  flex: 1;
  margin: 2em 1em;
}

.sketchWrapper {
  margin-left: 1em;
}

.header {
  font-size: 1.2em;
  margin: 0.4em 0;
}

.lowLevelHeader {
  margin: 0.4em 1em;
  font-size: 1em;
}