.placeholder {
  font-size: 4em;
}

.h1Wrapper {
  margin: 0;
  padding: 0.67em 0;
  position: sticky;
  top: 0;
  background-color: light-dark(#fff, #242424);
}

.inlineCode {
  margin: 0 0.3em;
  padding: 0 0.2em;
  font-weight: bold;
  background-color: light-dark(#f0f0f0, #2f2f2f);
}